@font-face {
  font-family: Vazir;
  src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot');
  src: url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.woff') format('woff'),
       url('http://fonts.codearena.ir/rastikerdar/vazir/vazir.ttf') format('truetype');
  font-weight: normal;
}  


.sidenav.sidenav-fixed {
  right: 0px;
  width: 150px;
  padding: 0 10px;
}

.sidenav li>a {
  padding: 0px 0px;
  color:#008736;
}

.sidenav li>a>i.material-icons {
  color:#008736;
} 

.profile {
  height: 150px;
  width: 150px;
  float: left;
}

.course {
  margin-top: 50px;
  margin-right: 200px;
}



.course-info {
  height: 330px;
  padding: 10 25 15 25;
}

.course-image {
  height: 300px;
  width: 250px;
}


*, *:before, *:after {
  vertical-align: middle;
}


.card-image{
    height: 100%;
};


nav ul a {
    color:rgb(36, 194, 141);
    text-decoration: black;
};

.course-title {
    color: rgb(36, 194, 141);
};

.container {
    margin: 0 auto;
    max-width: 1280px;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 80%;
    }
  }

  
  header, main, footer {
    padding-right: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-right: 0;
    }
  };
      

